<div class="d-flex align-items-center justify-content-center vh-100 bg-danger">
    <div class="col-12">
        <h1 class="display-1 fw-bold text-white text-md-center">ERROR!</h1>
        <h1 class="display-1 fw-bold text-white text-md-center">Wrong id parameters</h1>
    </div>
        
    </div>